---
layout: default
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(/assets/img/umbrello-home-image.png);margin-right: 54px;margin-left: -111px;"></div>
            <div class="carousel-text-overlay">
                <h1>Umbrello</h1>
                <p>The KDE UML Modeller.</p>
                <a class="button learn-more mb-3 mt-3" href="/installation.html" style="color: whitesmoke;">Install Umbrello</a>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" id="content" class="container">
    <h1>{{ site.title }}</h1>
    <p>Umbrello UML Modeller is a Unified Modelling Language (UML) diagram program based on KDE Technology. Umbrello is included with every Linux distribution and available through your package manager and as installer for Windows and Mac OS X. We are an open source project who welcomes all developers and contributors.</p>
    <p>UML allows you to create diagrams of software and other systems in a standard format to document or design the structure of your programs. This make business men to understand the program as they need not understand the code. </p>
    
    <h2>Why use Umbrello?</h2>
    <p>Having a good model of your software is the best way to communicate with other developers working on the project and with your customers. A good model is extremely important for medium and big-size projects, but it is also very useful for small ones. Even if you are working on a small one man project you will benefit from a good model because it will give you an overview that will help you code things right the first time. </p>
    
    <h2>Familiarize with Umbrello!</h2>
    <p>Our <a href="/documentation.html">handbook</a> gives a good introduction to Umbrello and UML modelling. Or if you want to have a broader introduction you can always head over to <a href="https://docs.kde.org/trunk5/en/kdesdk/umbrello/index.html">docs.kde.org</a>(Umbrello).</p>
    
    <p>See <a href="installation.html">Installation</a> to install Umbrello.</p>
    <p>For user support join the <a href="https://mail.kde.org/mailman/listinfo/umbrello">Umbrello mailing list</a>.</p>
    <p>Join the <a href="https://mail.kde.org/mailman/listinfo/umbrello-devel">Umbrello development mailing list</a> and say hi</a>.</p>
    
</main>